QWidget
{
	background-color: #fff;
	color: #000;
}
QPushButton
{
	/*background-color: "darkgreen";*/
	background-color: #ececec;
	padding: 5px;
	border: 1px solid #6c757d;
	border-radius: 4px;
	color: #000;
}
QPushButton:hover{background-color:#BFBFBF;}
QPushButton:focus{background-color:"green";}
QLineEdit{background-color:#fff;border:1px solid #6c757d;border-radius:4px;padding:6px;}
QLineEdit:focus{background-color:#D3F4FF;}
.btn-primary{background-color:#0d6efd;color:#fff;border-color:#0d6efd;}
.btn-primary:hover{background-color:#0b5ed7;}

.btn-success{background-color:#198754;color:#fff;border-color:#198754;}
.btn-success:hover{background-color:#157347;}

.btn-danger{background-color:#dc3545;color:#fff;border-color:#dc3545;}
.btn-danger:hover{background-color:#bb2d3b;}

.btn-warning{background-color:#ffc107;color:#000;border-color:#ffc107;}
.btn-warning:hover{background-color:#ffca2c;}

.btn-info{background-color:#0dcaf0;color:#000;border-color:#0dcaf0;}
.btn-info:hover{background-color:#31d2f2;border-color:#25cff2;}

.text-center{text-align:center;}
.title{font-size:20px;}
